lineSelectedColor = #D6FF00

.reminder-title
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    border-bottom-left-radius: 0px
    border-bottom-left-radius: 0px
    background-color:#313131
    // background-color:#D8FF3A
    color:#ebebec
    // color:#303030
    text-align:center
    // font-weight:bold
    padding: 2px
    font-size: 16px
    padding: 3px

.reminder-title:hover
    cursor: pointer
    background: #d6ff00
    text-decoration : underline
    color: #0048E0;

.reminder-input
    border-width:1px
    border-radius:3px
    border-color:#313131
    background-color:white
    padding-left: 15px
    display: block

.reminder-input > input
    font-size:14px
    margin-bottom:4px
    margin-top:4px
    box-shadow: none
    border:0
    font-weight: bold
    color: #00ADFF

.datepicker-input
    width:76px
    position:relative

.datepicker table
    font-size: 14px

.datepicker td.day:hover
    background: #d6ff00

.datepicker td, .datepicker th
    padding:0px
    width: 1px

.datepicker thead tr:first-child th:hover
    background: #d6ff00

#timepicker
    width:75px
    position: relative
    border:0

#CNE_autocomplete
    display:block
    position: absolute
    _moz_resizing:false
    border-radius-top-right : 5px
    border-radius-top-left : 5px
    font-size:14px
    background-color:whiteSmoke
    border-color:#000
    border-style:solid
    border-width:1px
    padding:0px
    list-style-type:none

.SUGG_ttags
    background-color:#313131

.SUGG_line_ttag
    cursor:pointer
    display : block
    padding-left:5px
    padding-right:5px
    color:#EBEBEC

 .SUGG_line_ttag:before
    content:'@'

.SUGG_mention
    font-weight: lighter
    font-size: 11px
    float: right
    margin-left: 10px
    color:#808080

.SUGG_line_ttag:hover
    background-color : lineSelectedColor
    color:#888888

.SUGG_line_htag
    cursor:pointer
    display : block
    padding-left:5px
    padding-right:5px

.SUGG_line_htag:before
    content:'#'
    color:#979797

.SUGG_line_htag:hover
    background-color : lineSelectedColor


.SUGG_line_contact
    cursor:pointer
    display : block
    padding-left:5px
    padding-right:5px

.SUGG_line_contact:before
    content:'@'
    color:#979797

.SUGG_line_contact:hover
    background-color : lineSelectedColor

span.b
    font-weight:bold
    color:tomato

.SUGG_selected
    background-color:lineSelectedColor

.SUGG_selected:before
    // content:'*'
    // background-color:red
    color:#525252

.SUGG_selected > span
    color: #464646





