basecolor= #34A6FF

.reminder-title
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    border-bottom-left-radius: 0px
    border-bottom-left-radius: 0px
    background-color:#313131
    // background-color:#D8FF3A
    color:#ebebec
    // color:#303030
    text-align:center
    // font-weight:bold
    padding: 2px
    font-size: 16px
    padding: 3px

.reminder-title:hover
    cursor: pointer
    background: basecolor
    text-decoration : underline
    color: #fff

.reminder-input
    border-width:1px
    border-radius:3px
    border-color:#313131
    background-color:white
    padding-left: 15px
    display: block

.reminder-input > input
    font-size:14px
    margin-bottom:4px
    margin-top:4px
    box-shadow: none
    border:0
    font-weight: bold
    color: #00ADFF

.datepicker-input
    width:76px
    position:relative

.datepicker table
    font-size: 14px

.datepicker td.day:hover
    background: basecolor
    color #fff

.datepicker td, .datepicker th
    padding:0px
    width: 1px

.datepicker thead tr:first-child th:hover
    background: basecolor
    color #fff

#timepicker
    width:75px
    position: relative
    border:0

#CNE_autocomplete
    display:block
    position: absolute
    _moz_resizing:false
    padding 0
    padding-bottom 0.2em
    background-color #fff
    border-radius 5px
    border 1px solid #e5e5e5
    box-shadow 0 3px 6px rgba(0,0,0,0.12)
    list-style-type:none

.SUGG_ttags
    background-color #ededed
    padding 0.2em 0

.SUGG_line_ttag
    cursor pointer
    display block
    padding 0 0.6em
    font-size 0.85rem
    color #777
    line-height 1.8em

 .SUGG_line_ttag:before
    content:'@'

.SUGG_mention
    font-weight: lighter
    font-size: 11px
    float: right
    margin-left: 10px
    color:#808080

.SUGG_line_ttag:hover
    background-color : basecolor
    color #fff

.SUGG_line_htag
    cursor:pointer
    display : block
    padding-left:5px
    padding-right:5px

.SUGG_line_htag:before
    content:'#'
    color:#979797

.SUGG_line_htag:hover
    background-color : basecolor
    color #fff

    &:before
        color rgba(255, 255, 255, 0.8)


.SUGG_line_contact
    cursor pointer
    display block
    padding 0 0.6em
    line-height 1.8em

.SUGG_line_contact:before
    content:'@'
    color:#979797

.SUGG_line_contact:hover
    background-color : basecolor
    color #fff

    &:before
        color rgba(255, 255, 255, 0.8)

span.b
    font-weight:bold
    color:tomato

.SUGG_selected
    background-color : basecolor
    color #fff

    &:before
        // content:'*'
        // background-color:red
        color rgba(255, 255, 255, 0.8)

    & > span
        color #fff





