// UI
bgcolor = #818181
// app ui
body
  background-color: bgcolor

#main-div
  display: block
  position: absolute
  top:6px
  right:0
  left:0
  bottom:0

.monWell
  border: 1px solid rgba(0, 0, 0, 0.12)
  border-radius: 7px 7px 7px 7px
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset
  padding: 0px
  margin: 0px
  position:absolute
  top:0px
  right:0
  left:0
  bottom:7px

#well-editor
  background-color: #333333
  left:7px

#well-result
  background-color: #ffffff
  right:7px

#col-wrap
  width: 100%
  height: 100%

.btn-bar-editor
  display:inline-block
  margin-left:5px

.btn.active
  color:red

.editorBtnBar > div
  margin-left:5px

#contentSelectDiv > select
  height:20px
  padding:inherit
  background-color: #454545
  border: #454545
  color: #ACACAC

#contentSelectDiv
  display: inline
  position: relative
  top: -6px
  margin-left:5px
  // position: relative
  // top:-15px
  // display:inline-block

#editorDiv
  position: absolute
  top:0px
  right:0
  left:0
  bottom:0

#editorContent
  position: absolute
  top:48px
  right:8px
  left:8px
  bottom:15px

#editorIframe
  width: 100%
  height: 100%
  overflow: hidden
  display: inline-block
  position: absolute
  font-size: 13px
  border:0
  width:100%
  margin-bottom: 9px
  background-color:white

#editorIframe2
  height           : 49%
  width            : 49%
  display          : inline-block
  position         : absolute
  font-size        : 13px
  right            : 0
  margin-bottom    : 9px
  background-color : white
  border           : 0
  overflow         : hidden

#editorDiv3
  height           : 49%
  width            : 49%
  overflow-x       : hidden
  overflow-y       : auto
  display          : inline-block
  position         : absolute
  font-size        : 13px
  border           : 0
  right            : 0
  bottom           : -8px
  margin-bottom    : 9px
  background-color :white

#resultDiv
  width:100%
  height:100%

#resultContent
  position: absolute
  top:50px
  right:8px
  left:8px
  bottom:15px

#resultTextDiv
  position   :absolute
  top        :48px
  right      :8px
  left       :8px
  bottom     :15px
  overflow-y :auto
  overflow-x :hidden
  background-color: #E9EEF2

#resultText
  padding:0
  margin:0
  border:0
  width:100%
  height:100%
  font-size:11px
  background-color: #E9EEF2

#recordings
  padding:0px 7px 7px 7px 
  overflow-y:auto

#editorBtnBar
  border-spacing: 0px
  margin-top: 3px

#record-form
  // border:1px 1px 0px 0px 
  border-bottom:1px
  border-top:1px
  border-right:0px
  border-left:0px
  border-style: solid
  border-color:#EEEEEE
  padding-top:10px
  padding-bottom:0px
  margin-bottom:0px

#record-list
  font-size:12px
  margin-top: -10px
  
.btnDiv-RecordLine
  height:20px
  top:-6px
  display:inline-block
  position:relative

.btnDiv-RecordLine > .btn-group
  margin-top: 3px

.btnDiv-RecordLine > .btn-group > .btn-mini
  line-height: 11px

#record-name
  margin-top:0
  margin-right:0
  margin-left:0
  margin-bottom:-11px
  width:98%
  box-sizing:content-box

.resultActionOK
  color:green

.resultActionNOK
  color:red

.finalHTMLNOK
  color:red

.finalMdNOK
  color:faad40

#resultBtnBar
  position:absolute
  left:8px


.ui-layout-resizer-open:hover
  background white

#col-wrap > .ui-layout-resizer
  background-color: bgcolor
  border-right: 1px solid bgcolor
  border-left: 1px solid bgcolor

.ui-layout-resizer
  background-color: white
  border-right: 1px solid #eeeeee
  border-left: 1px solid #eeeeee
  
#col-wrap > .ui-layout-resizer > .ui-layout-toggler
  background-color: bgcolor
  border: 0px
  position: absolute
  right: 0px


#col-wrap > .ui-layout-resizer-open:hover .ui-layout-toggler
  background-color: #bbbbbb

.ui-layout-toggler
  background-color: white
  border: 0px
  position: absolute
  right: 0px

.ui-layout-resizer-open:hover .ui-layout-toggler
  background-color: #BFBFBF